.connect-section {
  padding-top: 147px;
}

.connect-section__container {
  margin: 0 auto;
  position: relative;
  padding: 57px 85px 43px;
  background: #ffffff;
  border-radius: 22px;

  &::before {
    content: "";
    background-image: url(/images/connect-section-img.png);

    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    display: block;
    top: 0%;
    left: -155px;
    width: 40%;
    height: 100%;
  }
}

.connect-section__content {
  margin: 0 auto;
  max-width: max-content;
}

.connect-section__title {
  color: var(--grey-text-color);
  margin-bottom: 16px;
}

.connect-section__description {
  text-align: center;
  margin: 0 auto 36px;
  max-width: 608px;
  color: var(--grey-text-color);
}

.connect-section__links {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.connect-section__button {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 28px;
  transition: background var(--timing-function), border var(--timing-function),
    -webkit-background-clip var(--timing-function),
    -webkit-text-fill-colorvar(--timing-function);

  background: linear-gradient(90.62deg, #81bdff 0.54%, #5ed9ff 101.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border-radius: 12px;

  border: 1px solid var(--link-accent-color);

  &:hover {
    border: 1px solid var(--button-darkblue-hover);
    background: var(--button-darkblue-hover);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.connect-section__button--z {
  font-weight: 600;
}

.connect-section__button--color {
  text-align: center;
  color: var(--main-text-color);
  background: linear-gradient(92.33deg, #439cff -3.92%, #37cfff 105.79%);
  border-radius: 12px;
  padding: 12px 21px;
  transition: background var(--timing-function),
    -webkit-text-fill-colorvar(--timing-function);

  &:hover {
    background: var(--button-darkblue-hover);
  }
}
