.custom-section {
  margin-bottom: 157px;
}

.custom-section__title {
  margin-bottom: 48px;
}

.custom-section__container {
  margin: 0 auto;
  width: 842px;
}

.custom-section__list {
  justify-content: center;
  gap: 33px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
