.faq-section .section-title {
  margin-bottom: 32px;
}

.faq-section {
  padding-top: 140px;
}

.faq-section__container {
  margin: 0 auto;
  max-width: 818px;
}

.accordion {
  .accordion-item {
    border-bottom: 1px solid var(--faq-borderline);
    button[aria-expanded="true"] {
      border-bottom: none;
    }
  }

  button {
    color: var(--main-text-color);
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;

    font-size: 16px;
    line-height: 1.2;
    border: none;
    background: none;
    outline: none;
    &:hover,
    &:focus {
      cursor: pointer;
      color: var(--faq-blue-color);

      &::after {
        cursor: pointer;
        color: var(--faq-blue-color);
      }
    }
    .accordion-title {
      padding: 1em 1.5em 1em 0;
    }
    .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;

      &::before {
        display: block;
        position: absolute;
        content: "";
        top: 9px;
        left: 6px;
        width: 10px;
        border-radius: 4px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: "";
        top: 5px;
        left: 10px;
        width: 2px;
        border-radius: 4px;
        height: 10px;
        background: currentColor;
      }
    }
  }

  button[aria-expanded="true"] {
    color: var(--faq-blue-color);
    .icon {
      &::after {
        width: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 9em;
      transition: all 100ms linear;
      will-change: opacity, max-height;
    }
  }

  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 100ms linear, max-height 100ms linear;
    will-change: opacity, max-height;
    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 1.4;
      margin: 12px 0;
      color: #b5c9d3;
    }
  }
}

// old

// .accordion-item {
//   background: none;
//   border: none;
//   border-bottom: 1px solid var(--primary-text-color);
// }

// .accordion-button {
//   margin-bottom: 0;
//   font-size: 18px;
//   position: relative;
//   background: none;
//   color: inherit;
//   padding: 10px 0;
//   transition: color var(--timing-function);

//   &::after {
//     content: none;
//   }

//   &:not(.collapsed) {
//     background: none;
//     color: var(--accent-color);
//     box-shadow: none;

//     & .accordion-arrow {
//       fill: var(--accent-color);
//       transform: translateY(-50%) rotate(90deg);
//     }
//   }
// }

// .accordion-arrow {
//   fill: var(--primary-text-color);
//   position: absolute;
//   top: 50%;
//   left: -40px;
//   transform: translateY(-50%);

//   transition: fill var(--timing-function), transform var(--timing-function);
// }

// .accordion-body {
//   padding: 0 0 20px;
// }

// .collapsing {
//   transition: height var(--timing-function);
// }

// @media screen and (max-width: 1023px) {
//   .accordion {
//     padding: 0 0 0 30px;
//   }
// }
// @media screen and (max-width: 767px) {
// }
