.features-section {
  position: relative;
  margin-bottom: 100px;
}

.features-section__ellipse {
  position: absolute;
  width: 636px;
  height: 636px;
  right: -145px;
  top: 423px;

  background: rgba(109, 205, 255, 0.2);
  filter: blur(280px);
}

.features-section__ellipse--2 {
  position: absolute;
  width: 13px;
  height: 13px;
  left: 151px;
  bottom: -100px;

  background: rgba(109, 205, 255, 0.88);
  filter: blur(8px);
}

.features-section__title {
  margin-bottom: 50px;
}

.features-section__container {
  padding: 0 130px 0;
}

.features-section__item {
  width: calc((100% - 74px) / 3);
  background: rgba(242, 242, 242, 0.01);
  border: 1px solid rgba(221, 221, 221, 0.05);
  backdrop-filter: blur(55px);
  border-radius: 22px;
}

.features-section__list {
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
}

.features-section__content {
  padding: 40px 24px 28px;
}

.features-section__image {
  margin: 0 auto;
  margin-bottom: 32px;
}

.features-section__subtitle {
  text-align: center;
  margin-bottom: 10px;
}

.features-section__description {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
}
