.footer {
  padding: 44px 0;
  width: 100%;
  background-color: rgba(24, 32, 37, 0.4);
}

.footer-nav__box {
  display: flex;
}

.footer-nav__content {
  width: 50%;
}

.footer-nav {
  display: flex;
}

.footer-nav__links {
  display: flex;
}
