.header {
  margin: 12px 0 35px;
  position: sticky;
  top: 0;
  z-index: 700;

  width: 100%;
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  // transition: 0.2s;
}

.header__ellipse {
  position: absolute;
  width: 528px;
  height: 522px;
  left: -173px;
  top: -255px;

  background: rgba(87, 167, 255, 0.22);
  filter: blur(240px);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
}

.main-nav__list {
  display: flex;
  width: 697px;
  justify-content: space-between;
  align-items: center;
}

.main-nav__link {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  padding: 10px;
  transition: color var(--timing-function);
  z-index: 700;

  &:hover {
    color: var(--link-accent-color);
  }
}

.main-nav__link--button {
  border: none;
  background-color: transparent;
}

.button--header {
  padding: 8px 20px;
}
