.map-section .section-title {
  margin-bottom: 46px;
}

.map-section__container {
  position: relative;
  margin: 0 auto 140px;
  max-width: 948px;
}

.map-section__box {
  position: relative;
  right: -17%;
  justify-content: center;
  row-gap: 25px;
  flex-wrap: wrap;
  display: flex;
}

.map-section__content {
  margin-left: 10px;
}

.map-section__item--borderleft {
  border-left: 1px solid rgba(109, 205, 255, 0.6);
}

.horisontal-line {
  height: 118px;
  position: absolute;
  top: 0;
  left: 0;
  width: 67%;
  border-bottom: 1px solid rgba(109, 205, 255, 0.6);
}

.map-section__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 7px;
}

.map-section__description {
  max-width: 200px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
}

.map-section__item {
  position: relative;
  padding-left: 10px;
  height: 105px;
  width: 32%;
}

.map-section-dot {
  width: auto;
  position: absolute;
  bottom: -40%;
  left: -9%;
  // transform: translate(50%, 50%);
  z-index: 10;
}

// .map-section-dot--2 {
//   position: absolute;
//   top: 99px;
//   left: 138px;
//   z-index: 10;
// }

.map-section__content--end {
  margin-top: 40px;
}

.map-section .ellipse-box {
  top: 116px;
}

.map-section__ellipse {
  position: absolute;
  width: 426px;
  height: 417px;

  background: rgba(109, 205, 255, 0.23);
  filter: blur(150px);
}
