.opt-section {
  position: relative;
  padding-top: 140px;
}

.opt-section .section-title {
  margin-bottom: 46px;
}

.opt-section__box {
  padding: 36px 40px 36px 152px;
  max-width: 818px;

  &--before1::before {
    content: "";
    background-image: url(/images/opt-section-img-1.png);
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: -122px;
    width: 100%;
    height: 100%;
  }

  &--before2::before {
    content: "";
    background-image: url(/images/opt-section-img-2.png);
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: -122px;
    width: 100%;
    height: 100%;
  }
}

.opt-section__container {
  margin: 0 auto;
  max-width: 818px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.opt-section__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.38;
}

.letter-spasing--mb {
  margin-bottom: 30px;
}

.opt-section__ellipse--1 {
  position: absolute;
  width: 31px;
  height: 31px;
  right: 207px;
  top: 310px;

  background: rgba(109, 205, 255, 0.33);
  filter: blur(22px);
}

.opt-section__ellipse--2 {
  position: absolute;
  width: 4px;
  height: 4px;
  right: 100px;
  top: 210px;

  background: #6dcdff;
  filter: blur(3px);
}

.opt-section__ellipse--3 {
  position: absolute;
  width: 4px;
  height: 4px;
  left: 229px;
  top: 70px;

  background: #6dcdff;
  filter: blur(3px);
}
