.question-section {
  margin-bottom: 100px;
}

.question-section__box {
  margin: 0 auto;
  padding: 50px 110px 40px;
  background: rgba(242, 242, 242, 0.04);
  border: 1px solid rgba(221, 221, 221, 0.07);
  backdrop-filter: blur(22px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 22px;
}

.question-section__container {
  position: relative;
  margin: 0 auto;
  max-width: 818px;
}

.question-section .section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 12px;
}

.question-section__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.question-section__button {
  display: flex;
  justify-content: center;
}

.question-section__illustration {
  position: absolute;
  width: 305px;
  height: 350px;
  top: -89px;
  right: -127px;
}

.question-section__illustration--position {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
