.video-section .section-title {
  margin-bottom: 24px;
}

.ellipse-box {
  z-index: -100;
}

.video-section__content {
  position: relative;
  margin: 0 auto;
}

.video-section__container {
  max-width: min-content;
}

.video-section {
  position: relative;
  padding-top: 147px;
}

.video-section .ellipse-box {
  top: 230px;
}

.video-section__ellipse {
  position: absolute;
  width: 636px;
  height: 636px;
  left: 54;
  top: 29;

  background: rgba(109, 205, 255, 0.14);
  filter: blur(280px);
}
