.video-section .section-title {
  margin-bottom: 24px;
}

.ellipse-box {
  z-index: -100;
}

.video-section__content {
  position: relative;
  margin: 0 auto;
}

.video-section__container {
  max-width: min-content;
}

.video-section {
  margin-bottom: 137px;
}

.video-section .ellipse-box {
  top: 230px;
}
