.button {
  display: inline-block;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 28px;
  background: linear-gradient(90.62deg, #81bdff 0.54%, #5ed9ff 101.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border-radius: 12px;

  border: 1px solid var(--link-accent-color);

  &:hover {
    background: linear-gradient(90.62deg, #a2ceff 0.54%, #85e2ff 101.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 0px 16px rgba(94, 217, 255, 0.51);
    text-shadow: 0px 0px 16px rgba(133, 226, 255, 0.55);
  }

  transition: background var(--timing-function),
    box-shadow var(--timing-function), text-shadow var(--timing-function),
    -webkit-background-clip var(--timing-function),
    -webkit-text-fill-color var(--timing-function);
}

.button--accent {
  font-weight: 600;
  padding: 12px 28px;
  align-items: center;
  border-radius: 12px;
  color: var(--primary-background-color);
  background: linear-gradient(93.12deg, #81bdff 5.17%, #5ed9ff 100%);
  -webkit-text-fill-color: var(--primary-background-color);

  &:hover {
    background: linear-gradient(93.06deg, #a2ceff 6.02%, #85e2ff 91.21%);
    box-shadow: 0px 0px 16px rgba(94, 217, 255, 0.51);
  }

  transition: background var(--timing-function),
    box-shadow var(--timing-function), text-shadow var(--timing-function),
    -webkit-text-fill-color var(--timing-function);
}

.bacground-box {
  background: var(--bgr-box-color);
  border: 1px solid var(--bgr-border-color);
  backdrop-filter: blur(55px);
  border-radius: 22px;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: var(--main-text-color);
  text-align: center;
}

.section-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.34;
  margin-bottom: 18px;
}

.ellipse-box {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse {
  border-radius: 100%;
}

.ellipse-0 {
  position: absolute;
  width: 248.47px;
  height: 249.88px;

  border: 1px solid rgba(193, 214, 219, 0.1);
}

.ellipse-1 {
  position: absolute;
  width: 460.24px;
  height: 461.65px;
  z-index: -10;
  border: 1px solid rgba(193, 214, 219, 0.1);
}

.ellipse-2 {
  position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50% -50%);
  width: 506.82px;
  height: 508.24px;
  // left: 465.88px;
  // top: 5634.88px;
  z-index: -10;
  border: 1px solid rgba(193, 214, 219, 0.1);
}

.ellipse-3 {
  position: absolute;
  width: 662.12px;
  height: 662.12px;
  // left: 388.24px;
  // top: 5557.24px;
  z-index: -10;
  border: 1px solid rgba(193, 214, 219, 0.1);
}

.ellipse-4 {
  position: absolute;
  width: 851.84px;
  height: 851.84px;
  // left: 293.65px;
  // top: 5462.65px;
  z-index: -10;
  border: 1px solid rgba(193, 214, 219, 0.1);
}

.ellipse-5 {
  position: absolute;
  width: 929.65px;
  height: 929.65px;
  // left: 255.53px;
  // top: 5424.53px;
  z-index: -10;
  border: 1px solid rgba(193, 214, 219, 0.07);
}

.ellipse-6 {
  position: absolute;
  width: 1200px;
  height: 1200px;
  // left: 120px;
  // top: 5289px;
  z-index: -10;
  border: 1px solid rgba(193, 214, 219, 0.15);
  filter: blur(8px);
}

.letter-spasing {
  letter-spacing: 0.07em;
}

.font-color {
  color: #b5c9d3;
}

.video-section__box {
  webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;

  margin: 0 auto;
  overflow: hidden;
}
